/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures + Captions
 */

figure {
  margin:auto;
}

figure > img {
  display: block;
  margin: 10px auto;
}

figcaption {
  font-size: $small-font-size;
  color: #777;
  text-align: center;
  font-style: italic;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 10%;
  transition: 0.3s;

  &:visited {
    color: $brand-color;
  }

  &:hover, &:focus {
    text-decoration: underline;
    text-decoration-color: from-font;
    text-decoration-thickness: 12%;
    transition: 0.3s;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  border-left: 4px solid $color-orangered;
  padding: $spacing-unit / 3;
  @include relative-font-size(1.0);
  letter-spacing: -1px;
  background-color: mistyrose;
  margin: 10px 0px;

  > :last-child {
    margin-bottom: 0;
  }
}





/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #f9fcf5;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

/**
* Tags List
*/
ul.tags-list {
  list-style-type: none;
  margin: auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

ul.tags-list li {
  display: inline-block;
  border-radius: 2px;
  background-color: $text-color;
  padding: 5px;
  color: $background-color;
  margin: 2px 0px;
}

ul.tags-list li > svg {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

ul.tags-list li > p {
  margin: 0px 5px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
}

/**
* Left-border Header
*/

.left-border-header {
  color: #001551;
}

.left-border-header:before {
  color: orangered;
  content: '// ';
}


/**
* Lined Header
*/

.lined-header {
  position: relative;
  margin: 30px auto;
  text-align: center;
  border: none;
  text-decoration: none;
}

.lined-header::before {
  content: " ";
  display: block;
  height: 2px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 0;
  background: orangered;
}

.lined-header::after {
  content: " ";
  display: block;
  height: 2px;
  width: 30%;
  position: absolute;
  top: 50%;
  right: 0;
  background: orangered;
}



/**
 * Sections
 */

 div.section-tab {
  margin-bottom: 10vh;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 5px;
}



div.section-tab a, div.post-content a {
  background-image: url('/assets/img/icons/ic_link.svg');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: contain;
}

div.section-tab a.no-icon, div.post-content a.no-icon {
  background-image: none;
  padding-left: 0px;
}





div.section-main {
  margin-top: 20vh;
  margin-bottom: 40vh;
  height: 40vh;

}

hr {
  border: none;
  height: 1px;
  background-color: #000;
}